*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/misc.xml
app/src/main/java/com/example/amigodavizinhanca/AtvCadastroPF.java
app/src/main/res/layout/activity_cadastro_pf.xml


/.idea/androidTestResultsUserPreferences.xml
/.idea/shelf/
/.idea/migrations.xml
/.idea/deploymentTargetDropDown.xml
